.plansPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20vw;
  padding-top: 90px;
  background-image: url(/grid-box.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 2500px;
}

.plansPage .header {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.plansPage .plansContainer {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  z-index: 1;
}